[nz-menu] {
  position: fixed;
  width: 100%;

  p, a {
    padding: 0;
    margin: 0;
    font-family: "sans-serif";
    line-height: 3.8rem;
    font-size: 1.2rem;
  }
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529;// 路由导航背景颜色  字体颜色大小等
  border-bottom: 2px solid red;
  text-align: center;
}
