<app-admin-nav></app-admin-nav>

<nz-layout>
  <nz-content >
    <nz-button-group>
      <button nz-button nzSize="small" (click)="show()">显示全部数据</button>
    </nz-button-group>
    <div class="inner-content">
      <nz-table #fixedTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '1150px', y: '610px' }" >
        <thead>
        <tr>
          <th nzLeft>ID
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th nzLeft>Name</th>
          <th>Role</th>
          <th>sex</th>
          <th>Email</th>
          <th>Password</th>
          <th>Address</th>
          <th>Num</th>
          <th>Hobby</th>
          <th nzRight>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of fixedTable.data">
          <td nzLeft>{{item.id}}</td>
          <td nzLeft>{{item.username}}</td>
          <td>{{item.role}}</td>
          <td>{{item.sex}}</td>
          <td>{{item.email}}</td>
          <td>{{item.password}}</td>
          <td>{{item.address}}</td>
          <td>{{item.tNum}}</td>
          <td>{{item.hobby}}</td>
          <td nzRight>
            <a routerLink="/admin/update/{{item.id}}">
              更新
            </a>
            <!--<a (click)="deleteUsers(item.id)" class="fa fa-trash" style="font-size:20px;color:red;">删除</a>-->
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteUsers(item.id)">Delete</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <label>
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            </label>
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
