<app-admin-nav></app-admin-nav>
  <div class="control">
<h3 class="text-center" *ngIf="!alert">添加角色</h3>
<h3 *ngIf="alert" class="text-center">添加成功！即将转到用户列表</h3>
  <form [formGroup]="addUsers" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>用户名：</label>
      <input formControlName="username" type="text" class="form-control" placeholder="username" required>
      <span class="error" *ngIf="username.invalid && username.touched">请填写用户名</span>
    </div>
    <div class="form-group">
      <label>性别:</label>
      <input type="radio" id="male" name="sex" value='男' formControlName="sex" checked>
      <label for="male">男</label>
      <input type="radio" id="female" name="sex"  value='女' formControlName="sex">
      <label for="female">女</label>
    </div>
     <div class="form-group">
       <label>角色：</label>
       <input formControlName="role" type="text" class="form-control" placeholder="role" required>
       <span class="error" *ngIf="role.invalid && role.touched">请填写角色</span>
     </div>
    <div class="form-group">
      <label>个人邮箱：</label>
      <input email formControlName="email" type="email" class="form-control" placeholder="email" required>
      <span class="error" *ngIf="email.invalid && email.touched">请正确填写邮箱</span>
    </div>
    <div class="form-group">
      <label>密码：</label>
      <input formControlName="password" type="text" class="form-control" placeholder="password" required>
      <span class="error" *ngIf="password.invalid && password.touched">请填写密码</span>
    </div>
    <div class="form-group">
      <label>公司地址：</label>
      <select formControlName="address" style="color: #000" >
        <option  value="辽宁省大连市" class="form-control" selected="selected">辽宁省大连市</option>
        <option  value="辽宁省锦州市" class="form-control">辽宁省锦州市</option>
        <option  value="山东省烟台市" class="form-control">山东省烟台市</option>
      </select>
     <!-- <input formControlName="address" type="text" class="form-control" placeholder="address" required>
      <span class="error" *ngIf="address.invalid && address.touched">请填写地址</span>-->
    </div>
    <div class="form-group">
      <label>电话号码：</label>
      <input formControlName="tNum" type="text" class="form-control" placeholder="Telephone Number" required>
      <span class="error" *ngIf="tNum.invalid && tNum.touched">请填写电话号</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addUsers.invalid">添加</button>
  </form>
</div>

