/* 2019-12-17 17110100525 刘洋 高级网页设计 */
#btop {
    background: #000;
    height: 10rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}
#btop>.bf{
    color: #fff;
    width: 20%;
    border-radius: 0.33rem;
}
#btop>.bf>a{
    color: #fff;
}
#fixed {
    border-bottom: .5rem solid #fafafa;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    background-color: #fff;
}

.sp {
    width:40%;
}

.pl {
    width: 40%;
}
.plz {
    margin: .5rem;
}

.ply {
    font-size: 1rem;
    color: #5c5c5c;

}
.qx{
    width: 90%;
    line-height:3rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    border-radius:1.3rem;
    background: rgba(207, 124, 30, 0.95);
    color: #fff;
}
.hot-main{
    width: 100%;

}
.hot-main>li{
    display: flex;
    width: 85%;

}
.hot-main>li>a{
    width: 100%;
    display: flex;
}

.hot-main>li>a>.zzz{
    flex-grow: 1;
    font-size:2rem;
    line-height: 4rem;
    margin:.5rem 0 0 1rem;
}
.hot-main>li>a>.yyy{
    width:15%;
    font-size:1.4rem;
    color: #9d9d9d;
    margin: 1.5rem -4.6rem 1.4rem 1.4rem;

}
.hot-main>li>a>span{
    font-size: 1.3rem;
    color: #bd2c00;
    line-height: 2.6rem;
}
.hot-main>li>a>.zt{
    flex-grow: 1;
    font-size:1.8rem;
    line-height:3rem;
    margin: 0.5rem 0 0 1.4rem;
}
.hot-main>li>a>.yt{
    width: 70%;
    line-height:4rem;
    font-size:1rem;
    color: #9d9d9d;
    margin: 0.4rem -5rem 0 0;
}
.hot-main>li>a>span{
    font-size: 1.5rem;
    color: #bd2c00;
    line-height:3rem;
    margin-left: 1rem;
}
.hot-main>li>a>.zs{
    font-size:1.1rem;
    line-height:3rem;
    margin-left: 0.3rem;

}
.hot-main>li>a>.ys{
    line-height:3rem;
    font-size:1.1rem;
    color: #559527;
    margin-left: 0.3rem;
}

.ch-head{
    padding: .5rem;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: auto;
    font-size:1rem;
}
.head-a {
    font-size: 2rem;
    width:4rem;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    margin-left: 0.8rem;
    line-height: 4rem;
    background-color: rgba(214, 214, 214, 0.71);
    border-radius: 0.33rem;
}
.head-img {
    font-size: 2rem;
    width:40%;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    margin-left: 0.8rem;
}
.head-img p{
    width: 100%;
    font-size: 1rem;
}

.head-img-b {
    font-size: 2rem;
    width:80%;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    margin-left: 0.8rem;
}
.head-img-b p{
    width: 100%;
    font-size: 1rem;
}



.jlist>li{
    display:flex;
    margin-bottom:.3rem;
    margin-left: 1.3rem;
}
.jlist img{
    width:15rem;
    margin-top: 0.5rem;
    margin-right:0.3rem;
    border-radius: 0.43rem;
}
.jtext{
    flex-grow: 1;/*剩下所有的空间*/
    display: flex;
    flex-wrap:wrap;
}
.jtext h3{
    font-size:1rem;
    color: #222222;
    width:100%;
    margin-left:.5rem;
    margin-top:1.8rem;
}
.author{
    font-size:1.2rem;
    color: #bababa;
    width:100%;
    margin-left: .5rem;
}
h4{
    font-size: .8rem;
    color: #bababa;
    width:100%;
    margin-left: .5rem;
    margin-top: .2rem;
}
.time{
    font-size:2rem;
    color: #b4b4b4;
    flex-grow: 1;
    text-align: right;
    padding-right:0;
    margin-top: -1rem;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* 加了position值的可以加这个属性，z-index值大的覆盖小的，不要设置999 */
    display: flex;
    background-color: #FFFFFF;
}
.footer>a{
    width:15%;
}
.item>span{
    font-size:2rem;
    line-height:3rem;
    text-align: center;
    color: #404040;
    display: block;

}
.item>p{
    font-size: 1rem;
    color:#404040;
    line-height: 1rem;
    text-align: center;
}

.footer>.finput{
    width: 60%;
    background-color: rgba(233, 230, 228, 0.6);
    display: flex;
    border-radius:0.33rem;
    justify-content: space-around;
    margin:.5rem;
}
.footer>.finput>span{
    font-size: 2rem;
    color: #918f8e;
margin-top: .4rem;
    margin-left: -2rem;
}
.footer>.finput>p{
    font-size: 1.2rem;
    color:#918f8e;
    margin-top:.8rem;
    margin-left: -7rem;
}

