/* 2019-12-10 17110100525 刘洋 高级网页设计 */
.img-all{
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color:#FFFFFF;
}
.img-all-top{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.img-all-top>.top {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0.3rem;
    position: relative;

}
.img-all-top>.top>.left{
    width: 30%;
    margin-left: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.img-all-top>.top>.right{
    flex-grow: 1;
    position: absolute;
    right: 0.3rem;
    border: 0.1rem;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.11rem;
}
.img-all>.kk{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0.3rem -0.1rem 0.3rem 0.3rem;
}
.img-all>.kk>.two{
    width: 48%;
    flex-wrap: wrap;
    margin: 0.2rem;
}
.img-all>.kk>.two>a{
    width: 47%;
}
.img{
    width: 100%;
    position: relative;
}
.img>p{
    position: absolute;
    width:50%;
    text-align:end;
    font-size:0.8rem;
    color:#FFFFFF;
    bottom: 0.2rem;
    right: 0.5rem;

}
.two>a>.up{
    font-size:1.2rem;
    color: #000000;
}
.two>a>.bottom{
    font-size: 1rem;
    color: #a9a9a9;
}



.img-all>.kk-2{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0.3rem -0.1rem 0.3rem 0.3rem;
}
.img-all>.kk-2>.two-2{
    width: 32%;
    flex-wrap: wrap;
    margin: 0.2rem;
}
.img-all>.kk-2>.two-2>a{
    width: 47%;
}
.img-2{
    width: 100%;
}
.two-2>a>.up{
    font-size:1rem;
    color: #000000;
}
.two-2>a>.bottom{
    font-size: 0.8rem;
    color: #a9a9a9;
}


.img-all>.kk-3{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0.3rem -0.1rem 0.3rem 0.3rem;
}
.img-all>.kk-3>.two-3{
    width: 100%;
    flex-wrap: wrap;
    margin: 0.2rem;
}
.img-all>.kk-3>.two-3>a{
    width: 47%;
}
.img-3{
    width: 100%;
    position: relative;
}
.img-3>p{
    position: absolute;
    width:50%;
    text-align:end;
    font-size:0.8rem;
    color:#FFFFFF;
    bottom: 0.2rem;
    right: 0.5rem;
}
.two-3>a>.up{
    font-size:1.2rem;
    color: #000000;
}
.two-3>a>.bottom{
    font-size: 1rem;
    color: #a9a9a9;
}



.img-all>.kk-4{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0.3rem -0.1rem 0.3rem 0.3rem;
}
.img-all>.kk-4>.two-4{
    width: 31.5%;
    flex-wrap: wrap;
    margin: 0.2rem;
}
.img-all>.kk-4>.two-4>a{
    width: 47%;
}
.img-4{
    width: 100%;
    position: relative;
}
.img-4>p{
    position: absolute;
    width:50%;
    text-align:end;
    font-size:0.8rem;
    color:#FFFFFF;
    bottom: 0.2rem;
    right: 0.5rem;
}
.two-4>a>.up{
    font-size:1.2rem;
    color: #000000;
}
.two-4>a>.bottom{
    font-size: 1rem;
    color: #a9a9a9;
}