/* 2019-12-12 17110100525 刘洋 高级网页设计 */
#i-header{
    width: 100%;
    background: linear-gradient(#064f4a,#08857f);
    justify-content: space-evenly;
    font-family: STKaiti;
    position: fixed;
    top: 0;
    z-index: 99;
}
#i-header>.header-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#i-header>.header-top>.iq-img{
    width: 15%;
    margin-top:0;
    margin-left:0;
    margin-bottom:0;
    order:1;
    flex-wrap: wrap;
}
#i-header>.header-top>.iq-img>.icon-changyonglogo32{
    font-size: 2rem;
    text-align: center;
    color: #56a528;
    display: block;
    order:1;
}
#i-header>.header-top>.iq-img>p{
    font-size:0.6rem;
    color: #56a528;
    text-align: center;
    margin-top: -0.5rem;
}

#i-header>.header-top>#header-input{
    width: 70%;
    margin-left: 0.1rem;
    order:2;
    background-color: rgba(5, 100, 106, 0.6);
    display: flex;
    border-radius:0.93rem;
    justify-content: space-around;
    margin-top: 0.1rem;
}
#i-header>.header-top>#header-input>.header-input{
    flex-grow: 1;
    border: none;
    background-color: rgba(5, 65, 71, 0.02);
    color: #FFFFFF;
}
#header-input>span{
   font-size: 1.2rem;
    color: #FFFFFF;
    margin:0.5rem;
}

.header-top>.icon-lishi{
    order:3;
    font-size: 1.3rem;
    margin: 0.5rem;
    color: #FFFFFF;
}
.header-top>.icon-tianjiajiahaowubiankuang{
    order:3;
    font-size: 1.3rem;
    margin: 0.5rem;
    color: #FFFFFF;
}

#i-header>.header-bottom{
    display: flex;
    flex-wrap: wrap;
}
.header-bottom>li{
    width: 16.6%;
    box-sizing: border-box;
    margin: 0.5rem 0 0.5rem 0;
}
.header-bottom>li>a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: bold;
}
.header-bottom>li>a>.icon-santiaogang{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
#pic{
    width:96%;
    margin: 0.5rem;
    flex-wrap:wrap;
    display:flex;
}
#pic>.i-pic{
    width: 22%;
    display: inline;
    border: 0.3rem solid rgba(5, 65, 71, 0.02);
    background-color: rgba(5, 65, 71, 0.02);
    border-radius:0.93rem;
    margin-left: 0.35rem;
}
#pic>.i-pic>p:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;
}
#pic>.i-pic>p:nth-child(2){
    font-size:1rem;
    font-weight: normal;
}


#i-header>.hg{
    width: 100%;
    display: flex;
}
#i-header>.hg>.icon-yi{
    font-size:1.6rem;
    color: #55a532;
    font-weight: bolder;
    margin-top: -0.4rem;
    margin-left: 1.9rem;
    line-height: 1rem;
}
