/* 2019-12-20 17110100525 刘洋 高级网页设计 */
#header
{
    width: 100%;
    background: linear-gradient(#064f4a,#08857f);
    position: fixed;
    top: 0;
    z-index: 99;
}
.retop{
    width: 100%;
    display: flex;
}
.retop>li{
    width:15%;
    flex-wrap: wrap;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}
li>a>.icon-sousuo1{
    width: 10%;
    font-size:2rem;
    color: #56a528;
    right: 0;
    font-weight: bold;
}
li>a>.icon-erweima{
    width: 10%;
    font-size: 2rem;
    color: #56a528;
    right: 0;
    font-weight: bold;
}
li>a>.icon-saomiao{
    width: 10%;
    font-size: 2rem;
    color: #56a528;
    right: 0;
    font-weight: bold;
}



.ftx{
    width: 100%;
    display: flex;
    margin-top:4.1rem;
    margin-right: 0;
    background-color: #08857f;
}
.ftx>a{
    flex-wrap: wrap;
    width: 98%;
    display: flex;
    margin-top:2rem;
    background: #ffffff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left: 0.35rem;
}

a>.yy{
    flex-grow: 1;
    display: flex;
    background-color: rgba(179, 128, 68, 0.4);
    height: 2.3rem;
    margin-top: 1rem;
    margin-right: 0.8rem;
    border-radius:0.98rem;
}
a>.yy>span{
    width:5%;
    color: #a55a11;
    font-size: 2rem;
    flex-wrap: wrap;
    margin: 0.05rem 0.3rem 0.05rem 0.3rem;
}
a>.yy>p{
    margin-top: 0.1rem;
    margin-right: -1rem;
    flex-grow: 2;
    text-align: center;
    color: #a55a11;
    font-size: 1rem;
    line-height: 2rem;
    flex-wrap: wrap;
}
a>.name{
    width: 100%;
    display: flex;
    /*margin-top:1rem;*/
}
a>.name>.bname{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    line-height: 3rem;
    width: 53%;
}
a>.name>.xname{
    width:25%;
    font-size: 1rem;
    line-height: 3rem;
    margin-top: 0.1rem;
    color: #545454;
}
a>.tb{
    width: 23%;
    display: flex;
    background-color: rgba(237, 167, 58, 0.54);
    margin-left: 1rem;
    border-radius:0.38rem;
}
a>.tq{
    width: 18%;
    display: flex;
    background-color: rgba(134, 163, 236, 0.42);
    margin-left: 1rem;
    border-radius:0.38rem;
}
a>.tb>span{
    width:5%;
    color: #a55a11;
    font-size: 1rem;
    margin: 0.1rem 0.3rem 0.05rem 0.3rem;
}
a>.tq>span{
    width:5%;
    color:#5a4fa5;
    font-size: 1rem;
    margin: 0.1rem 0.3rem 0.05rem 0.3rem;
}
a>.tb>p{
    margin-left: 0.6rem;
    color: #a55a11;
    font-size: 1rem;
}
a>.tq>p{
    color: #5a4fa5;
    margin-left: 0.6rem;
    font-size: 1rem;
}
a>ul{
    width: 100%;
    display: flex;
}
a>ul>li{
width: 50%;
    display: flex;
    margin-left:1.5rem;
    border-radius:0.38rem;
}
a>ul>li>span{
   font-size: 1rem;
    color:#545454 ;
    line-height: 3rem;
}
a>ul>li>p{
    font-size: 2rem;
    color:#000000 ;
    margin-left: 0.2rem;
}
.hd{
    width: 100%;
}
.hd>.hd-head{
    margin-top: 0.8rem;
}

.tab-head-item>a {
    font-size: 2rem;
    color: #fff;
}

.hd>.hd-head {
    padding: .5rem;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: auto;
    font-size: 2rem;
}
.hdbox {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0 .5rem;
    margin-right: 1rem;
    background-color: #f5f5f5;

}
.hdbox>a{
    flex: 1 0 auto;
    padding: 0 .5rem;
    margin-right: .5rem;
    font-size:1.5rem;
    color: #bd8702;
    font-weight: bold;
}
.hdbox>p{
    color: #545454;
    padding: 0 .5rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.msp{
    width: 100%;
    margin-top: 1rem;
    background-color: #FFFFFF;
    border-top: 0.1rem solid rgba(186, 186, 186, 0.61);
    border-bottom: 0.1rem solid rgba(186, 186, 186, 0.61);
    display: flex;
    flex-wrap: wrap;
}
.msp>.aa{
    width:33%;
    margin-top: 0.6rem;
}
.msp>a>.asp{
    width:100%;
}
.asp>span{
    width: 100%;
    font-size:2rem;
line-height: 2.5rem;
    color: #56a528;
    display: block;
    text-align: center;
    font-weight: bold;
}
.asp>p{
    width: 100%;
    font-size:1.3rem;
    color: #000000;
    text-align: center;
    margin: 0.6rem 0 0.6rem 0;

}
.qsp>a{
    width:100%;
}
.qsp>span{
    width: 100%;
    font-size:2.5rem;
    color: #56a528;
    display: block;
    text-align: center;
    font-weight: bold;
}
.qsp>p{
    width: 100%;
    font-size:1.3rem;
    color: #000000;
    text-align: center;
    margin: 0.6rem 0 0.6rem 0;

}
.rsp>a{
    width:100%;
}
.rsp>span{
    width: 100%;
    font-size:2.3rem;
    color: #56a528;
    display: block;
    text-align: center;
    font-weight: bold;
}
.rsp>p{
    width: 100%;
    font-size:1.3rem;
    color: #000000;
    text-align: center;
    margin: 0.8rem 0 0.6rem 0;

}
.fw{
    width: 100%;
    border-top: 0.8rem solid rgba(203, 203, 203, 0.61);
    border-bottom: 0.1rem solid rgba(186, 186, 186, 0.61);
}
.fw>p{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.3rem;
}
.hot-main{
    width: 100%;

}
.hot-main>li{
    display: flex;
    width: 90%;

}
.hot-main>li>a{
    width: 100%;
    display: flex;
}
.hot-main>li>a>span{
    width: 8%;
    color: #0e7ba5;
    margin: 0.8rem 1.3rem 1.3rem 1.3rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.hot-main>li>a>.zzz{
    flex-grow: 1;
    font-size: 1.5rem;
    line-height: 4rem;
    margin-top: 0.2rem;
    border-bottom: 0.1rem solid rgba(221, 221, 221, 0.623);
}
.hot-main>li>a>.yyy{
    width:1rem;
    font-size: 1.5rem;
    margin: 1.4rem -2rem 1.4rem 1.4rem;

}








