<app-log-nav></app-log-nav>
<div class="main">
  <div class="main_body">
    <div class="main_left" >
      <div class="top">
        <ul>
        <li><A class="hover" routerLink="/main">前端交流</A></li>
        <li><A>交互设计</A></li>
        <li><A>视觉设计</A></li>
        <li><A >用户研究</A></li>
        <li><A >设计茶吧</A></li>
        <li><A >团队生活</A></li>
        <div id="lanPos" style="margin-top: -7.9rem; width: 105%"></div>
      </ul></div>
    </div>
    <div class="main_center">
      <p>center</p>
    </div>
    <div class="main_right">
      <p>right</p>
    </div>
  </div>

</div>

<div>当前管理员 {{username }} </div>
