<app-log-nav></app-log-nav>
<div class="main">
  <div class="main_body">
    <div class="main_left" >
      <div class="top">
        <ul>
        <li><A class="hover" routerLink="/main">前端交流</A></li>
        <li><A>交互设计</A></li>
        <li><A>视觉设计</A></li>
        <li><A >用户研究</A></li>
        <li><A >设计茶吧</A></li>
        <li><A >团队生活</A></li>
        <div id="lanPos" style="margin-top: -7.9rem; width: 105%"></div>
      </ul></div>
    </div>
    <div class="main_center">
      <div class="swiper">
        <ul class="swiper_images">
          <li>
            <img src="assets/images/jpg2.jpg" style="width: 70%;height: 200px">
          <p>我是轮播图</p>
          </li>
        </ul>

      </div>
      <div class="main_lis">
        <ul>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
          <li>我是列表</li>
        </ul>
      </div>
    </div>
    <div class="main_right">
      <div class="users_image">
        <p>我是图片区域</p>
      </div>
      <div class="users_session">
        <p>我是用户动态</p>
      </div>
    </div>
  </div>

</div>

<div>当前管理员 {{username }} </div>
