<nav>
  <div class="login_nav">
    <ul class="nav_left">
      <li><p>管理页</p></li>
      <li><p>|</p></li>
      <li style="width: 50%"><a routerLink="/admin/list" onmouseover="this.className='out'" onmouseout="this.className=''">用户列表</a></li>
      <li><a routerLink="/admin/add" onmouseover="this.className='out'" onmouseout="this.className=''">添加角色</a></li>
    </ul>
    <ul class="nav_centre"></ul>
    <ul class="nav_right">
      <li onmouseover="this.className='out'" onmouseout="this.className=''">
        <a routerLink="/login" onmouseover="this.className='out'"
           onmouseout="this.className=''" (click) ="logout()" >
          登出
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--<div [formGroup]="editUsers">
  <input formControlName="username" type="text">
</div>-->
