<app-log-nav></app-log-nav>
<div class="main">
  <div class="main_body">
    <div class="main_left" >
      <div class="top">
        <ul>
        <li><A class="hover" routerLink="/main">前端交流</A></li>
        <li><A>交互设计</A></li>
        <li><A>视觉设计</A></li>
        <li><A >用户研究</A></li>
        <li><A >设计茶吧</A></li>
        <li><A >团队生活</A></li>
        <div id="lanPos" style="margin-top: -7.9rem; width: 105%"></div>
      </ul></div>
    </div>
    <div class="main_center">
      <div class="swiper">
        <ul class="swiper_images">
          <li>
            <img src="assets/images/jpg2.jpg" style="width: 70%;height: 200px">
          <p>我是轮播图</p>
          </li>
        </ul>

      </div>
      <div class="main_lis">
        <ul>
          <li>
            <div class="li_title">
              我是列表标题
            </div>
            <div class="li_content">
              <div class="li_img">
                <img src="assets/images/main/users.jpg">
                <span>
                  一只皮卡丘
                </span>
              </div>
              <div class="li_links">
                转载自：https://www.baidu.com/3242442qwqw.html
              </div>
              <div class="li_icon">
                <span>[@]</span>
                <span>[@]</span>
              </div>
            </div>
          </li>
          <li *ngFor="let item of collection">
            <div class="li_title" >
              {{item.title}}
          </div>
            <div class="li_content">
              <div class="li_img">
                <img src="{{item.images}}" >
                <span>
                  {{item.name}}
                </span>
              </div>
              <div class="li_links">
                {{item.links}}
              </div>
              <div class="li_icon">
                <span>[@]</span>
                <span>[@]</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main_right">
      <div class="users_image">
        <ul class="top">
          <li class="image">
            <img src="assets/images/main/users.jpg">
          </li>
          <li class="txt">
            <p class="user">小皮卡丘</p>
            <p class="year">码龄十年</p>
          </li>
        </ul>
        <ul class="content">
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li class="btn"><a>TA的主页</a></li>
          <li class="btn"><a>私信</a></li>
          <li class="btn"><a>关注</a></li>
        </ul>
      </div>
      <div class="find">
        <input type="text" #searchSource placeholder="请输入搜索的内容" (keyup)='search(searchSource.value)' required="required"></div>
      <div class="users_session">
        <p>我是用户动态</p>
      </div>
    </div>
  </div>

</div>
