.main{
  width: 100%;
  margin-top: 7rem;
  padding: 0;
  .main_body{
    width: 70%;
    margin: 1% auto;
    background-color: #2b3137;
    height: 100%;
    display: flex;
    border-radius: 0.5rem;
    .main_left{
      flex: 1;
      height: 100rem;
      background-color: #51d5e2;
      color: #24292e;
      border-radius: 0.5rem;
      overflow: hidden;
      ul {
        width: 60%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
        border-radius: 0.5rem;
        background: #d25858;
        padding: 60px 20px 70px;

        li {
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-bottom: 1px solid #F8F8F8;

          a {
            color: #666;
            display: block;
          }
          a:hover{
            color:#FF5F3E;
            text-decoration:none;}
          a.hover{color:#FF5F3E;}
        }
      }
      #lanPos{
        width:225px;
        height:40px;
        line-height:40px;
        background:#F8F8F8;
        border-left:5px solid #FF5F3E;
        position:absolute;
        left:-5px;
        z-index:-1;
        top:-2rem;
        transition:top .2s;
      }
      }
    }
    .main_center{
      flex: 4;
      height: 100rem;
      background-color: #b42525 ;
      color: white;
      .swiper{
        width: 100%;
        text-align: center;
        color: #51d5e2;
      }
      .main_lis{
        width: 100%;
        li{
          font-size: 2rem;
          line-height: 4rem;
          color: #085063;
          border-bottom: 1px solid #666;
          border-radius: 0.5rem;
          background-color: white;
          margin: 0.5rem;
          .li_title{
            width: 100%;
            font-weight: bold;
            margin-left: 0.3rem;

          }
          .li_content{
            width: 100%;
            display: flex;
            .li_img{
              flex: 2;
              display: flex;
              img{
                width: 25%;
                margin: 0.3rem;
                border-radius: 50%;
              }
              span{
                width: 70%;
                font-size: 1.5rem;
              }
            }
            .li_links{
              flex: 8.5;
              font-size: 1.5rem;
              display: flex;
            }
            .li_icon{
              flex: 1.5;
              display: flex;
              span{
                width: 50%;
              }
            }
          }

        }
      }
    }

    .main_right{
      flex: 2;
      background-color: #085063;
      color:white ;
      .users_image{
        width: 100%;
        border: 2px solid #000;
        text-align: center;
        .top{
          width: 100%;
          display: flex;
          .image{
            width: 16%;
            margin: 1rem;
            img{
              width: 100%;
              border-radius: 50%;
            }
          }
          .txt{
            width: 82%;
            display: flex;
            flex-wrap: wrap;

            .user{
              width: 100%;
              text-align: left;
              font-size: 1rem;
              color: #000;
              margin-top: 2rem;
            }
            .year{
              width: 100%;
              text-align: left;
              font-size: 1rem;
              color: #666;
              margin-top: -2rem;
            }
          }
        }
        .content{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          li{
            width: 20%;
            font-size: 1.5rem;
            line-height: 3rem;
          }
          .btn{
            width: 30%;
            margin:3%  1.6%  3% 1.6%;
            border: 1px solid #a7a4a4;
           a{
             font-size: 1.5rem;
           }
          }
        }

      }
      .find{
         width: 100%;
         input{
           width: 80%;
           margin: 2% 10% 2% 10%;
           color: #a7a4a4;
         }
       }
    }
  }




