<nav>
  <div class="login_nav">
    <ul class="nav_left">
      <li><p>Angular</p></li>
      <li><p>|</p></li>
      <li><a routerLink="/main" onmouseover="this.className='out'" onmouseout="this.className=''">首页</a></li>
      <li><a routerLink="/users" onmouseover="this.className='out'" onmouseout="this.className=''">个人信息</a></li>
    </ul>
    <ul class="nav_right">
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="/login" onmouseover="this.className='out'" onmouseout="this.className=''">登录</a></li>
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="/register" onmouseover="this.className='out'" onmouseout="this.className=''">注册</a></li>
    </ul>
  </div>
</nav>
