<nav>
  <div class="login_nav">
    <ul class="nav_left">
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><p>EMS</p></li>
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="">主页</a></li>
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="/users">USER</a></li>
    </ul>
    <ul class="nav_centre"></ul>
    <ul class="nav_right">
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="/login">登录</a></li>
      <li onmouseover="this.className='out'" onmouseout="this.className=''"><a routerLink="/register">注册</a></li>
    </ul>
  </div>
</nav>
