<form nz-form [formGroup]="addUsers" (ngSubmit)="onSubmit()">
  <nz-form-label [nzSpan]="7"  >用户姓名</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
      <input nz-input formControlName="username" placeholder="async validate try to write JasonWood" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors.username" class="error">
    <nz-form-control [nzSpan]="12">
      {{ formErrors.username }}
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">个人邮箱</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
      <input nz-input formControlName="email" placeholder="email" type="email" required>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors.email" class="error">
    <nz-form-control [nzSpan]="12">
      {{ formErrors.email }}
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">用户密码</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12"  nzErrorTip="Please input your password!" >
      <nz-input-group [nzSuffix]="suffixTemplate" >
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input  placeholder="password"  formControlName="password"/>
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">确认密码</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Password is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">公司地址</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12"  nzValidatingTip="Validating...">
      <input nz-input formControlName="address" placeholder="async validate try to write JasonWood" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors.address" class="error">
    <nz-form-control [nzSpan]="12">
      {{ formErrors.address }}
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">手机号码</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." >
      <input nz-input formControlName="tNum" placeholder="async validate try to write JasonWood" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formErrors.tNum" class="error">
    <nz-form-control [nzSpan]="12">
      {{ formErrors.tNum }}
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">兴趣爱好</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." style="background: #fff;border-radius: 0.1rem">
      <checkbox-group  formControlName="hobby" [options]="hobbies" [display]="'title'"
                       [value]="'value'"  style=" cursor: pointer;"></checkbox-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSpan]="7">用户性别</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." style="background: #fff;border-radius: 0.1rem;color: #000">
      <nz-radio-group>
        <input type="radio" id="male" name="sex" value='男' formControlName="sex" style="margin: 0.3rem 0.3rem 0 5rem;">
        <label for="male" style="color: #000">男</label>
        <input type="radio" id="female" name="sex"  value='女' formControlName="sex" style="margin: 0.3rem 0.3rem 0 2rem;">
        <label for="female" style="color: #000">女 </label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="3">
      <button nz-button nzType="primary" [disabled]="addUsers.invalid">Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>
