@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576945000213'); /* IE9 */
  src: url('iconfont.eot?t=1576945000213#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABpwAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBBIEIATYCJAMMCwgABCAFhG0HNRvNBRHVkzFkPxNscBv1CYdKgEAlZNwI4c10DbUsNvgmiKe5z3mb/TkABnkOURVQSERFnsFdXWVrw8PT/b4z786vNsxtwQ6RT5ug0UpLLbABsLkZ6scUNkKxJOfB//IdSVtWuJBfRpzKWRYLyHygOHbtcR7qFbBcoILugaGQtSQV8yoMrzrInXgNAY5CJZOlleZuqjR7kwA5PpiboFoo0LTYtifMhpMZucXGvjhWL8Gp6PvyJzNVQbEF9lvtuzXTzH2an/XYsrYMx4yt+WKAeA4MkAw0ZLWx0S+IyBkcHbm736QJNVf534oMxh+eyQSKQMrYo84A4mlT4Y/pGTKnIzXd9YgBoHmYMJDAZr3pLKTluXr5SrTr87Xt63FuT1cnwrMvpRd9Z59+LL4RrO8+1TzOk494T99KvxYfaGF842T1nNNM4+LJydr7RafhfZf//s2Np18wzv2McV50wdqKjZghQPAgMuDm2HX0z95JA/A9enY+yllbGWwY7CnAxl9lBCe0YbaDRtYMnsFKGTyBugKORhoLO+Pp93iPz+10hD2fERk7IbeWshedEZpJho2TbJjslcFRkrrzTrwsCZIdgET7BMLdbSiunsHg7hWhmV+w8fUXJvcUcNSbBjc6iU1oOlQJGkUP9g/J8UxuWA/x+A3DezSSN0f8C2VNZajystzucEaZY8/6CbUqAQlP0JL3cBwZFuEeneZRdWmKgpp0yh1P2YEqQaPowf4hOZ4pmK2HyudvGN6jkQ5VXflCWdPiUOUlQHSOGVLdi5b1E2pVAhKeoCXLcBwZluZlPTrN44ja0hTONEId+fqu6fvOQR37oZAiRcrUctpMMpk5ZBkAAAA=') format('woff2'),
  url('iconfont.woff?t=1576945000213') format('woff'),
  url('iconfont.ttf?t=1576945000213') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576945000213#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yi:before {
  content: "\e60a";
}

.icon-bofang:before {
  content: "\e606";
}

