.update {
  width: 100%;
  background: url("../../../assets/img/jpg3.svg"), center 10%, #2b3137;
  height: 871px;
  .update-table{
    border: 2px solid #fff;
    background-color: white;
    width: 70%;
    margin: 10% 0 0 15%;
    form{
      max-width: 70%;
      margin-left: 20%;
    }
  }
}
input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

.error {
  margin-top: 0.5rem;
  color: #b42525;
}
