*{
  list-style: none;
  display: block;
  text-decoration:none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Gill Sans MT Condensed", serif;
}
$maxwidth:100%;
nav {
  width: $maxwidth;
  font-size: 2rem;
  line-height: 6rem;
  background-color: #24292e;
  font-weight: bold;
  border-radius: 0.2rem;
  .login_nav{
    width: $maxwidth;
    display: flex;
    .nav_left{
      width: $maxwidth/5;
      display: flex;
      padding: 0.3rem;
      li{
        width: $maxwidth/3;
        p{
          color: #fff;
          text-align: center;
        }
      }
    }
    .nav_right{
      width: 5%;
      margin-left: 75%;
    }
  }
}
.out{
  color: #a7a4a4;
  border-radius: 0.3rem;
  font-size:1.8rem;
  font-family: "Gill Sans MT Condensed", "Segoe MDL2 Assets", serif;
}
