<div class="login">
  <img src="./assets/img/user.jpg">
  <form  class="from_login" [formGroup]="loginForm" >
    <div class="form-group">

        <label for="validationCustomUsername">用户名</label>
          <input type="text" class="form-control"  formControlName="username" maxlength="11" [class.is-invalid]="txtUNameIsInvalid" id="validationCustomUsername"
                 #txtUserName required>
      <div *ngIf="formErrors.username" class="showerr alert alert-danger">{{ formErrors.username }}</div>
        <label>密码</label>
          <input type="text" formControlName="password" maxlength="11" class="form-control" [class.is-invalid]="txtPWordIsInvalid" id="validationCustomPassword"
                 #txtPassword required>
      <div *ngIf="formErrors.password" class="showerr alert alert-danger">{{ formErrors.password }}</div>

      </div>
    <form (ngSubmit)="checkUserInput(txtUserName.value,txtPassword.value)">
      <button class="login_submit" type="submit">登录</button>
      <div *ngIf="correctMessage" class="showerrr alert alert-danger">登录成功 欢迎{{txtUserName.value}}(^_^)</div>
      <div *ngIf="incorrectMessage" class="showerr alert alert-danger">用户名或密码错误</div>
      <div *ngIf="bothoter" class="showerr alert alert-danger">用户名 密码为空，请正确填写用户名密码</div>
    </form>
  </form>
</div>
