<div class="login">
  <img src="./assets/img/user.jpg">
  <form [formGroup]="loginForm" class="from_login" (ngSubmit)="login()">
    <!-- Username -->
    <label>用户名 </label>
      <input type="text" placeholder="Username" formControlName="username"  class="form-control"  maxlength="11"
             #txtUserName required>
    <!-- Email -->
    <label>邮箱</label>
    <input type="email" placeholder="Email" formControlName="email" id="email" #email
           class="form-control">
    <!-- Password -->
    <label>密码 </label>
      <input type="text" placeholder="Password" formControlName="password" maxlength="11" class="form-control">

    <button class="login_submit" type="submit">登录</button>
<!--    <div class="showerr alert alert-danger">用户名或密码错误</div>
    <div  class="showerr alert alert-danger">用户名 密码为空，请正确填写用户名密码</div>-->
  </form>

</div>
