<nav class="navbar-fixed-top">
  <div class="login_nav">
    <ul class="nav_left">
      <li><p><a routerLink="" style="font-family: Arial sans-serif">Angular</a></p></li>
      <li><p>|</p></li>
      <li><a routerLink="/main" onmouseover="this.className='out'" onmouseout="this.className=''" >首页</a></li>
      <li><a onmouseover="this.className='out'" onmouseout="this.className=''" style="cursor:pointer;">个人信息</a></li>
    </ul>
    <ul class="nav-center"></ul>
    <ul class="nav_right">
      <li ><a routerLink="/login" onmouseover="this.className='out'" onmouseout="this.className=''">登录</a></li>
    </ul>
  </div>
</nav>
