<app-log-nav></app-log-nav>
<!--<div class="users_view">
<h3 style="text-align: center">多次点击怎么才能做到只响应最后一次 angular防抖</h3>
<div class="try">
  <label>只有用户停止输入(300ms)才会进行数据交互</label>
  <input type="text" #searchSource placeholder="请输入搜索的内容" (keyup)='search(searchSource.value)' required="required">
  <div>
    <label>button(500ms)</label>
    <button (click)="demo()">demo</button>
  </div>
</div>

</div>-->
<!--<div>当前管理员 {{userId }} </div>-->
<form [formGroup]="showUsers" style="margin: 8rem auto;width: 80%">
  <p style="color: #000; text-align: center">用户信息</p>
  <div class="form-group">
    <label>Name</label>
    <input formControlName="username" type="text" class="form-control" placeholder="username" readonly>
  </div>
  <div class="form-group">
    <label>Sex</label>
    <input formControlName="sex" type="text" class="form-control" placeholder="sex" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input email formControlName="email" type="email" class="form-control" placeholder="email" readonly>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="text" class="form-control" placeholder="password" readonly>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input formControlName="address" type="text" class="form-control" placeholder="address" readonly>
  </div>
  <div class="form-group">
    <label>Hobby</label>
    <input formControlName="hobby" type="text" class="form-control" placeholder="hobby" readonly>
  </div>
  <div class="form-group">
    <label>Telephone Number</label>
    <input formControlName="tNum" type="text" class="form-control" placeholder="telephoneNumber" readonly>
  </div>
</form>
