<app-log-nav></app-log-nav>
<div id="showUsers">
  <p class="user-p">个人信息</p>
  <ul class="users">
    <li><p>Name:</p><div>{{showUsers.username}}</div></li>
    <li><p>Sex:</p><div> {{showUsers.sex}}</div></li>
    <li><p>Email:</p><div> {{showUsers.email}}</div></li>
    <li><p>Address:</p><div> {{showUsers.address}}</div></li>
    <li><p>Hobby:</p><div> {{showUsers.hobby}}</div></li>
    <li><p class="number">Telephone Number:</p><div class="number">{{showUsers.tNum}}</div></li>
  </ul>
</div>



