<app-admin-nav></app-admin-nav>
<div class="listAround">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Sex</th>
      <th scope="col" style="padding-left: 3.5rem; width:15%">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Address</th>
      <th scope="col">Num</th>
      <th scope="col">Hobby</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of collection">
      <th>{{item.id}}</th>
      <th>{{item.username}}</th>
      <th>{{item.role}}</th>
      <th>{{item.sex}}</th>
      <th>{{item.email}}</th>
      <th>{{item.password}}</th>
      <th>{{item.address}}</th>
      <th>{{item.tNum}}</th>
       <th>{{item.hobby}}</th>
      <th>
        <a routerLink="/admin/update/{{item.id}}">
          更新
        </a>
        <a (click)="deleteUsers(item.id)" class="fa fa-trash" style="font-size:20px;color:red;">删除</a>
      </th>
    </tr>
    </tbody>
  </table>
</div>
