*{
  list-style: none;
  text-decoration:none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Gill Sans MT Condensed", serif;
}

nav {
  width: 100%;
  font-size: 2rem;
  line-height: 6rem;
  background-color: #24292e;
  font-weight: bold;
  .login_nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .nav_left{
      width: 30%;
      display: flex;
      li:nth-child(1){
        width: 30%;
        margin-left: 0.8rem;
      }
      li:nth-child(2){
        width: 10%;
      }
      li:nth-child(3){
        width: 30%;
        margin-left: 2%;
      }
      li:nth-child(4){
        width: 30%;
      }
      p{
        color: #fff;
        text-align: center;
      }
    }


    .nav_right{
      width: 4%;
      display: flex;
      padding: 0.3rem;
      margin-left: 66%;
      flex-wrap: wrap;
      li{
        display: block;
        width: 100%;
      }
    }
  }
}
.out{
  color: #a7a4a4;
  border-radius: 0.3rem;
  font-size:1.8rem;
  font-family: "Gill Sans MT Condensed", "Segoe MDL2 Assets", serif;
}
