<div class="login">
  <img src="./assets/img/user.jpg">
<!--  <form  class="from_login" [formGroup]="loginForm" >
    <div class="form-group">

        <label for="validationCustomUsername" [ngClass]="{ 'has-error': formControls.username.errors }">用户名</label>
          <input type="text" class="form-control" placeholder="Username" formControlName="username" maxlength="11"
                 [class.is-invalid]="txtUNameIsInvalid" id="validationCustomUsername"
                 #txtUserName required>
      <div *ngIf="formErrors.username" class="showerr alert alert-danger">{{ formErrors.username }}</div>
        <label [ngClass]="{ 'has-error':  formControls.password.errors }">密码</label>
          <input type="text" formControlName="password" placeholder="Password" maxlength="11" class="form-control"
                 [class.is-invalid]="txtPWordIsInvalid" id="validationCustomPassword"
                 #txtPassword required>
      <div *ngIf="formErrors.password" class="showerr alert alert-danger">{{ formErrors.password }}</div>
      <p [ngClass]="{ 'has-error':  formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
      </div>
    <form (ngSubmit)="checkUserInput(txtUserName.value,txtPassword.value)">
      <button class="login_submit" type="submit">登录</button>
      <div *ngIf="correctMessage" class="showerrr alert alert-danger">登录成功 欢迎{{txtUserName.value}}(^_^)</div>
      <div *ngIf="incorrectMessage" class="showerr alert alert-danger">用户名或密码错误</div>
      <div *ngIf="bothother" class="showerr alert alert-danger">用户名 密码为空，请正确填写用户名密码</div>
    </form>
  </form>-->
  <!-- Login Form starts -->
  <form [formGroup]="loginForm" class="from_login" (ngSubmit)="login()">
    <!-- Username -->
    <label>用户名 </label>
      <input type="text" placeholder="Username" formControlName="username"  class="form-control"  maxlength="11"
             #txtUserName required>
    <div *ngIf="formErrors.username" class="showerr alert alert-danger">{{ formErrors.username }}</div>

    <!-- Email -->
    <label>邮箱</label>
    <input type="email" placeholder="Email" formControlName="email" id="email" #email
           class="form-control">
    <!-- Password -->
    <label>密码 </label>
      <input type="text" placeholder="Password" formControlName="password" maxlength="11" class="form-control">
    <div *ngIf="formErrors.password" class="showerr alert alert-danger">{{ formErrors.password }}</div>

    <button class="login_submit" type="submit">登录</button>
<!--    <div class="showerr alert alert-danger">用户名或密码错误</div>
    <div  class="showerr alert alert-danger">用户名 密码为空，请正确填写用户名密码</div>-->
  </form>

</div>
