/*
2019-12-9 17110100525 刘洋
高级网页设计*/
/*全局css*/
html{
    font-size: 3vw;
    font-family: "Microsoft YaHei";
}
body,ul,p,h1,h2,h3,h4,h5,h6,form,dl,dd,dt,input,span{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}
a:visited{
    color: black;
}
ul,li{
    list-style: none;
}
img{
    display: block;
    border: none;
    width: 100%;
}
div{
    display: block;
}
.clearfix::after{
    /* 清除父元素的浮动 */
    clear: both;
    overflow: hidden;
    content: "";
    visibility: hidden;
    height: 0;
    font-size: 0;
}
body{
    min-width: 320px;
}
.hedden{
    height: 5rem;
}