#pic{
    width:96%;
    margin: 0.5rem;
    flex-wrap:wrap;
    display:flex;
}
#pic>.i-pic{
    width: 22%;
    display: inline;
    border: 0.3rem solid rgba(5, 65, 71, 0.02);
    background-color: rgba(5, 65, 71, 0.02);
    border-radius:0.93rem;
    margin-left: 0.35rem;
}
#pic>.i-pic>p:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;
}
#pic>.i-pic>p:nth-child(2){
    font-size:1rem;
    font-weight: normal;
}