*{
  padding: 0;
  margin: 0;
  display: block;
}
.show {
  width: 100%;
  background: url("../../assets/img/jpg3.svg"), center 10%, #2b3137;
  height: 89rem;

  .infor-body {
    position: absolute;
    width: 100%;
    .infor{
      position: relative;
      left: 23%;
      top: 26rem;
      width: 30%;
      .infor-title{
        font-size: 3rem;
        color: #fff;
        font-family: "Segoe MDL2 Assets",fantasy;
        font-weight: bold;
      }
      .infor-content{
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
      }
    }
    .register{
      width: 50%;
      position: relative;
      left: 50%;
      height: 70rem;
      overflow:hidden;
    }
  }
}
