<!--
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzCustomFilter>
      Name
      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.address }}</td>
  </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
-->
<nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '240px' }">
  <thead>
  <tr>
    <th nzLeft>Full Name</th>
    <th nzLeft>Age</th>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
    <th>Column 4</th>
    <th>Column 5</th>
    <th>Column 6</th>
    <th>Column 7</th>
    <th>Column 8</th>
    <th nzRight>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data">
    <td nzLeft>{{ data.name }}</td>
    <td nzLeft>{{ data.age }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.address }}</td>
    <td nzRight>
      <a>action</a>
    </td>
  </tr>
  </tbody>
</nz-table>
