
     /*background-color: rgba(232, 245, 245, 0.02);*/
.register_body {
  margin-top:3rem;
  width: 100%;
  .text-center{
    color: #fff;
    font-size: 2.3rem;
    font-family: "Gill Sans MT Condensed", serif;
  }

  form {
    width: 90%;
    max-width: 70%;
    margin: 0 auto;


    label {
      font-size: 1.6rem;
      line-height: 3.2rem;
      font-family: "Gill Sans MT Condensed", serif;
    }

    button {
      text-align: center;
      width: 50%;
      margin: 2% 0 5% 25%;
      font-size: 1.6rem;
      line-height: 3.2rem;
    }
  }
}
input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

.error {
  margin-top: 0.5rem;
  color: #b42525;
}
