<!--<div>
    <swiper class="swiper" [config]="config">
      <div class="swiper-wrapper">
        <img class="swiper-slide" *ngFor="let image of images" [src]="image" />
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>

</div>-->
<swiper class="swiper" [config]="config">
<div class="swiper-wrapper">
  <img class="swiper-slide" *ngFor="let image of swiperList" [src]="image" />
</div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-scrollbar"></div>
</swiper>
