<app-log-nav></app-log-nav>
<div id="main">
  <div class="main_body">
    <div id="main_left" >
      <div class="top">
        <ul>
        <li><A class="hover" routerLink="/main">前端交流</A></li>
        <li><A>知识梳理</A></li>
        <li><A>视觉设计</A></li>
        <li><A >用户研究</A></li>
        <li><A >设计茶吧</A></li>
        <li><A >团队生活</A></li>
      </ul></div>
    </div>
    <div id="main_center">
      <div class="main-center-padding">
        <div class="images">
          <app-swiper></app-swiper>
        </div>
        <div class="main_lis">
          <ul>
            <li *ngFor="let item of collection">
              <div class="li_title" >
                {{item.title}}
              </div>
              <div class="li_content">
                <div class="li_img">
                  <img src="{{item.images}}" >
                  <span>
                  {{item.name}}
                </span>
                </div>
                <div class="li_links">
                  {{item.links}}
                </div>
                <div class="li_icon">
                  <span>[@]</span>
                  <span>[@]</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main_right">
      <div class="main-right-padding">
      <div class="users_image">
        <ul class="top">
          <li class="image">
            <img src="../../../assets/images/main/users.jpg">
          </li>
          <li class="txt">
            <p class="user">小皮卡丘</p>
            <p class="year">码龄十年</p>
          </li>
        </ul>
        <ul class="content">
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>10</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li>第一小块</li>
          <li class="btn"><a>TA的主页</a></li>
          <li class="btn"><a>私信</a></li>
          <li class="btn"><a>关注</a></li>
        </ul>
      </div>
      <div class="find">
          <input type="search" #searchSource placeholder="请输入想查询的内容" [(ngModel)]="searchInput"
                 (keyup)='search(searchSource.value)'/>
          <div class="frame">
            <iframe  [src]="treeUrl" [class.show_ms]="showMs" id="baidu" style="width: 110%"></iframe >
          </div>
      </div>
      <div class="users_session">
        <ul class="lis_right">
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
          <li>
            <img src="../../../assets/images/main/main_right.png">
            <p>这里是一些实时资讯，这里是一些实时资讯，这里是一些实时资讯</p>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
