*{
  list-style: none;
  display: block;
  text-decoration:none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
  text-align: center;
}

.login {
  width: 100%;
  color: #000;
  position: relative;

  img {
    position: absolute;
    width: 10%;
    height: 20%;
    left: 45%;
    top: 12%;

  }

  .from_login {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 1rem;
    line-height: 2rem;
    color: #000;
    width: 40%;
    font-weight: bold;

    .from {
      width: 100%;
      display: flex;
      background-color: darkgrey;
      border-radius: 0.3rem;

      label {
        display: block;
        width: 10%;
      }

      .name {
        width: 90%;
        border-radius: 0.3rem;
      }

      .password {
        width: 90%;
        border-radius: 0.3rem;
      }
    }

    .login_submit {
      width: 100%;
      border-radius: 0.3rem;
      background-color: green;
      font-size: 1rem;
      line-height: 2rem;
      color: azure;
    }
  }
}







