.btn-circle {
  border-radius: 50px;
}

.btn-danger:hover, .btn-light:hover {
  color: #fff;
  background-color: #00b3db;
  border-color: #00b3db;
}

hr{
  height: 2px;
  color: #00b3db;
  background-color: #00b3db;
  border: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
