#showUsers{
  width: 100%;
  height: 26rem;
  font-size: 1.5rem;
  line-height: 3rem;
  .users{
    width: 80%;
    margin: 6rem auto;
    li{
      width: 100%;
      display: flex;
      .number{
      width: 40%;
    }
      p{
        width: 20%;
      }
      div {
        width: 80%;
      }

    }

  }
}

