@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1577102577055'); /* IE9 */
  src: url('iconfont.eot?t=1577102577055#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABpgAAAKDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIEiATYCJAMICwYABCAFhG0HLxvHBRHVk0FkPwrj5qXl4aORycSdZpd68dH3RfA87e//156Zc+48CU3QtyrkUMCsUP5rP7kBXpjTjFDoDGVJzsLv0ReSAqcZuWtUpB4APnHv9E+gQOYDynEvGmucf+oCjLcGONaiQAIuoYwbppcvaCAPQwBv4slF6hvb+7EY9CgBZPmSRTPYXACDYWmL4NYsNMhhHKzao+4BHAq/L6+hWCwoHI2e2L2wYT7Vz+AZ6M3/X8d9giAIcLkDaCAXMCD9tYlONMJ4Gu+EIRn2VS7wDP7/9+3IXi0I++t0qS8AsVB6TzInv9VSBYCBnQVA2ag3AhPs8fbdNHBic+j879D+34vhQ38Ri/72LV4kg97z+wvfzkacSjtxYvPx7oATYRwP9T8ZLluufjr4tSiM/y/0z9xM6WYn5WZ4Q+bahWHr/K3b3Pnz3a1bY3b+8H+RHZAtt8IeP71ReRLtaj+ZZKlG/0zPql8CCNTcn9+mAsq/Wh8DwIPt3MfQbOjnAnsSu/CzZD0rjFBogzqsFDkVBZk8FOAt3PxHe4J5MtYYdmcZwRJ2fy4PcSk0llTSsLlw8KEULpYqeJND03IfQliLRowXkM0OACGQa1D4cxeaQOZIwz6GQzhv4RIoGt4MSsiGPqQLFo/3Qq5SgN4NY78s2Dp0HJU/UHjKXMkqQv4LSROH0TasYvqeCpI5pjTn0FFlZClzvAPHUZaVWEmZkK9GpFrtTJPrXmT4ZQ5j2Au5SgF6N4z9smC/to5Ln3+g8JS50sLJJV9Imrh7tA2rB3mvLXpx7uWZ5hw6qowsZY53oB9lWYlVfb+EfDWiEbFqZ5pq3FdrrK/Pv24d4A3apFqmRwd60cn1YgAA') format('woff2'),
  url('iconfont.woff?t=1577102577055') format('woff'),
  url('iconfont.ttf?t=1577102577055') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1577102577055#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huabi:before {
  content: "\e600";
}

