.admin_view{
  width: 100%;
  position: absolute;
  height: 887px;
  div{
    position: relative;
    top: 8rem;
  }
  footer {
    position: relative;
    width: 100%;
    background-color: #b3b2b2;
    color: #2b3137;
    font-size: 1.5rem;
    line-height: 3rem;
    top: 100%;
    text-align: right;
  }
}

