form {
  width: 90%;
  max-width: 45em;
  margin: auto;
  padding: 0;
  .showerr {
    white-space: pre-wrap;
  }
  label{
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  button{
    text-align: center;
    width: 50%;
    margin-left: 25%;

  }
}
input.ng-invalid{
  border-left: 5px solid red;
}

input.ng-valid{
  border-left: 5px solid green;
}

.error{
  color: red;
}
