<app-navbar></app-navbar>
<div id="show">
    <div nz-row style="margin-top: 3.7rem">
      <div nz-col  [nzLg]="{offset: 6 }" style="margin-top: 12rem">
        <h1>Welcome To The </h1>
        <h1>Employee Management System </h1>
        <h4>Where you can edit your personal information and browse more relevant information</h4>
      </div>
      <div nz-col  [nzLg]="{ span:8, offset: 3 }" style="margin-top: 5rem; height: 50rem;width:100%;overflow: hidden;">
        <app-register></app-register>
      </div>
    </div>
</div>
